.social-icons {
  text-align: center;
  font-size: 2em;
  color: #050505;
}
.social-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-icons ul li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle;
}
.social-icons ul li a {
  display: block;
  font-size: 1.4em;
  margin: 0 5px;
  text-decoration: none;
}
.social-icons ul li a i {
  color: #050505;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.social-icons ul li a:hover i {
  color: #4ea751;
}
.social-icons ul li a:focus i,
.social-icons ul li a:active i {
  transition: none;
  color: #4ea751;
}

/* small devices *-sm-* */
/*@media (min-width: 768px) {
  .social-icons ul li a i {
    font-size: 2em;
  }
}*/
