.tl-page-content .tl-jumbo-left {
  padding-bottom: 2em;
}
  .tl-page-content .tl-jumbo-left a::after {
    display: none;
  }

  .tl-page-content .tl-jumbo-left .tl-jumbo-left-sentence-wrap {
    margin-top: 2em;
  }
    .tl-page-content .tl-jumbo-left .tl-jumbo-left-sentence-wrap .tl-jumbo-left-sentence {
      padding-left: 1em;
      border-left: 1px solid white;
    }

/* small devices *-sm-* */
@media (min-width: 768px) {
  .tl-page-content {}

    .tl-page-content .tl-jumbo-left {
      padding-top: 3em;
      padding-bottom: 3em;
    }
      .tl-page-content .tl-jumbo-left .tl-jumbo-left-sentence-wrap {
        margin-top: 1em;
      }
}
