.row
  .col-xs-6.col-xs-offset-3
    Via Vittorio Emanuele II, 1
    %br/
    10023 Chieri, TO
    %br/
    c.f. 94072040010
.row
  .tl-social-wrap.social-icons
    %ul
      %li
        %a{:href => "https://twitter.com/techlabtl", :class => "tl-icon-link", :target => "_blank"}
          %i.fa.fa-twitter
      %li
        %a{:href => "https://facebook.com/pages/Techlab/284089455053853", :class => "tl-icon-link", :target => "_blank"}
          %i.fa.fa-facebook
      %li
        %a{:href => "https://www.behance.net/techlab", :class => "tl-icon-link", :target => "_blank"}
          %i.fa.fa-behance
