.tl-jumbo-left.col-xs-12.col-sm-6
  .row.tl-jumbo-left-sentence-wrap
    .tl-jumbo-left-sentence.col-xs-10.col-xs-offset-1
      %a{:href => "#"}
        A Chieri c'è un TechLab, amico mio.
        %br/
        Un laboratorio dove potrai dare forma alle
        %br/
        tue idee e scoprire un sacco di cose nuove.
  .row.tl-jumbo-left-sentence-wrap
    .tl-jumbo-left-sentence.col-xs-10.col-xs-offset-1
      %a{:href => "#"}
        Potrai utilizzare macchine a taglio laser,
        %br/
        stampanti 3D e molti altri utensili.
  .row.tl-jumbo-left-sentence-wrap
    .tl-jumbo-left-sentence.col-xs-10.col-xs-offset-1
      %a{:href => "#"} Potrai partecipare a corsi ed eventi.
  .row.tl-jumbo-left-sentence-wrap
    .tl-jumbo-left-sentence.col-xs-10.col-xs-offset-1
      %a{:href => "#"}
        Abbiamo gia fatto tante belle cose e moltre
        %br/
        altre vogliamo farle insieme a te!
  .row.tl-jumbo-left-sentence-wrap
    .tl-jumbo-left-sentence.col-xs-10.col-xs-offset-1
      %a{:href => "#"}
        Ma per fare tutto questo dovrai diventare
        %br/
        socio dell'Associazione TechLab.
  .row.tl-jumbo-left-sentence-wrap
    .tl-jumbo-left-sentence.col-xs-10.col-xs-offset-1
      %a{:href => "#"}
        Vieni a trovarci a Chieri (TO), in via Vittorio
        %br/
        Emanuele II, 1. Dal lunedì al venerdì tra le
        %br/
        14 e le 19.30
