.tl-jumbo-right.col-xs-12.col-sm-6

  - $fields = ninja_form_header(2)
  .row.tl-jumbo-right-faq-wrap
    .tl-jumbo-right-faq.tl-jumbo-right-faq-ask.col-xs-10.col-xs-offset-1(data-target="faq-0")
      Fai una domanda
  .row.tl-jumbo-right-faq-wrap.faq-collapsed#faq-0
    .tl-jumbo-right-faq.tl-jumbo-right-faq-ask-form.col-xs-10.col-xs-offset-1
      - ninja_form_field($fields[0], 2)
      %input{:placeholder => "Inserisci la tua mail se vuoi essere ricontattato", :type => "email"}/
      - ninja_form_field($fields[1], 2)

  - ninja_form_footer(2)

  - $query = new WP_Query('post_type=faq&order=ASC&orderby=title')
  - $i = 0
  - while ( $query->have_posts() )
    - $i++
    - $query->the_post()
    .row.tl-jumbo-right-faq-wrap
      .tl-jumbo-right-faq.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-3(data-target="faq-#{$i}")
        = the_title()
    .row.tl-jumbo-right-faq-wrap.faq-collapsed#faq-#{$i}
      .tl-jumbo-right-faq.tl-jumbo-right-faq-answer.col-xs-6.col-xs-offset-5.col-sm-6.col-sm-offset-5
        = the_content()
